- load static

doctype html
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->

head
    meta(charset="utf-8")
    title
        |{{ title }}
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",name="viewport")
    meta(content="", name="description")
    meta(content="", name="author")

    // ================== BEGIN BASE CSS STYLE ==================

    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900", rel="stylesheet")
    link(rel="stylesheet", href="{% static 'assets/css/landing/app.min.css'%}")
    link(rel="stylesheet", href="{% static 'assets/css/landing/blue.min.css'%}")

    // ================== END BASE CSS STYLE ==================


body(data-spy="scroll", data-target="#header", data-offset="51")

    div(id="page-container", class="fade")

        div(id="header", class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg")

            div(class="container")

                a(href="#", class="navbar-brand")
                    img(src="{% static 'assets/img/cinda.svg'%}", alt="Work 2", style="width:100px;")


                button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#header-navbar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")

                div(class="collapse navbar-collapse", id="header-navbar")
                    ul(class="nav navbar-nav navbar-right")
                        li(class="nav-item")
                            a(class="nav-link", href="#about", data-click="scroll-to-target") QUIENES SOMOS

                        li(class="nav-item")
                            a(class="nav-link", href="#team", data-click="scroll-to-target") ALIADOS

                        li(class="nav-item")
                            a(class="nav-link", href="#work", data-click="scroll-to-target") ENTRADAS


        div(id="home", class="content has-bg home")
            div(class="content-bg",style="background-image: url({% static 'assets/img/landing/bg-home.jpg'%});",
                data-paroller="true",
                data-paroller-factor="0.5",
                data-paroller-factor-xs="0.25")

            div(class="container home-content")
                img(src="{% static 'assets/img/cinda.svg'%}", style="width:300px;")
                h3 Comunidades Indigenas y Afros
                p Ingresa a la plataforma y redescubre tu mundo
                a(href="login", class="btn btn-theme btn-primary") Ingresar


        div(id="about", class="content", data-scrollview="true")
            div(class="container", data-animation="true", data-animation-type="fadeInDown")
                h2(class="content-title") Quienes somos?
                p(class="content-desc")
                    |Acompañamos a población afrocolombiana e indígena para contribuir al desarrollo integral y recuperar las tradiciones propias mediante: acceso a alimentos para autoconsumo, promoción de iniciativas productivas y fortaleciendo el liderazgo y el empoderamiento de las comunidades.

                div(class="row")

                    div(class="col-md-12 col-sm-12")

                        div(class="about")
                            h2(class="content-title") Que hacemos?
                            p.
                                A través de IRACA® se realiza una intervención integral con enfoque
                                diferencial con proyectos de seguridad alimentaria y fomento de
                                prácticas productivas, que permite empoderar a las comunidades en
                                su propio desarrollo. La población atendida son los hogares o
                                comunidades étnicas indígenas y afrocolombianas.





        div(id="milestone", class="content bg-black-darker has-bg", data-scrollview="true")
            div(class="content-bg", style="background-image: url({% static 'assets/img/landing/bg-milestone.jpg'%})",
                data-paroller="true",
                data-paroller-factor="0.5",
                data-paroller-factor-md="0.01",
                data-paroller-factor-xs="0.01")

            div(class="container")
                div(class="row")

                    div(class="col-md-3 milestone-col")
                        div(class="milestone")
                            div(class="number", data-animation="true", data-animation-type="number", data-final-number="{{usuarios_registrados}}") {{usuarios_registrados}}
                            div(class="title") Usuarios registrados



                    div(class="col-md-3 milestone-col")
                        div(class="milestone")
                            div(class="number", data-animation="true", data-animation-type="number", data-final-number="{{entradas}}") {{entradas}}
                            div(class="title") Entradas



                    div(class="col-md-3 milestone-col")
                        div(class="milestone")
                            div(class="number", data-animation="true", data-animation-type="number", data-final-number="{{servicios_ofrecidos}}") {{servicios_ofrecidos}}
                            div(class="title") Servicios ofrecidos


                    div(class="col-md-3 milestone-col")
                        div(class="milestone")
                            div(class="number", data-animation="true", data-animation-type="number", data-final-number="{{galeria}}") {{galeria}}
                            div(class="title") Galerias fotograficas

        div(id="team", class="content", data-scrollview="true")
            div(class="container")
                h2(class="content-title") Aliados estrategicos


                div(class="row")
                    div(class="offset-md-2 col-md-4 col-sm-12")
                        div(class="team")
                            div(class="image", data-animation="true", data-animation-type="flipInX")
                                img(src="{% static 'assets/img/landing/prosperidad.png'%}", alt="Ryan Teller")
                            div(class="info")
                                h3(class="name") Prosperidad social
                                div(class="title text-primary") Organismo del gobierno
                                p Prosperidad Social es el organismo del Gobierno Nacional que busca fijar políticas, planes generales, programas y proyectos para la asistencia, atención y reparación a las víctimas de la violencia, la inclusión social, la atención a grupos vulnerables y su reintegración social y económica.
                                div(class="social")
                                    a(href="https://prosperidadsocial.gov.co/")
                                        i(class="fas fa-code fa-lg fa-fw")


                    div(class="col-md-4 col-sm-12")
                        div(class="team")
                            div(class="image", data-animation="true", data-animation-type="flipInX")
                                img(src="{% static 'assets/img/landing/logo_iraca.png'%}", alt="Jonny Cash")
                            div(class="info")
                                h3(class="name") IRACA
                                div(class="title text-primary") Programa gubernamental
                                p Acompañamos a población afrocolombiana e indígena para contribuir al desarrollo integral y recuperar las tradiciones propias mediante: acceso a alimentos para autoconsumo, promoción de iniciativas productivas y fortaleciendo el liderazgo y el empoderamiento de las comunidades.
                                div(class="social")
                                    a(href="https://prosperidadsocial.gov.co/sgpp/inclusion-productiva/iraca/#:~:text=La%20poblaci%C3%B3n%20atendida%20son%20los%20hogares%20o%20comunidades%20%C3%A9tnicas%20ind%C3%ADgenas%20y%20afrocolombianas.")
                                        i(class="fas fa-code fa-lg fa-fw")




        div(id="action-box", class="content has-bg", data-scrollview="true")
            div(class="content-bg",style="background-image: url({% static 'assets/img/landing/bg-action.jpg'%})",
                data-paroller-factor="0.5",
                data-paroller-factor-md="0.01",
                data-paroller-factor-xs="0.01")

            div(class="container", data-animation="true", data-animation-type="fadeInRight")
                div(class="row action-box")
                    div(class="col-md-9 col-sm-9")
                        div(class="icon-large text-primary")
                            i(class="fa fa-binoculars")
                        h3 CONOCE NUESTRAS NUEVAS ENTRADAS

                    div(class="col-md-3 col-sm-3")
                        a(href="login", class="btn btn-outline-white btn-theme btn-block") Ingresar



        div(id="work", class="content", data-scrollview="true")
            div(class="container", data-animation="true", data-animation-type="fadeInDown")
                h2(class="content-title") Ultimas entradas


                div(class="row row-space-10")
                    |{% for entrada in entradas_items %}
                    div(class="col-md-3 col-sm-6")
                        div(class="work")
                            div(class="image")
                                a(href="#")
                                    img(src="{{ entrada.photo.url }}")
                            div(class="desc")
                                span(class="desc-title") {{ entrada.nombre }}
                    |{% endfor %}



        div(id="footer", class="footer")
            div(class="container")
                div(class="footer-brand")
                    img(src="{% static 'assets/img/cinda.svg'%}", alt="Work 2", style="width:200px;")

                p.
                    &copy; Copyright Color Admin 2020


// ================== BEGIN BASE JS ==================
script(src="{% static 'assets/js/landing/app.min.js'%}")

//================== END BASE JS ==================

</html>
